/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("tree-river.jpg");
    background-size: cover;
  }
  
  header {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffa500;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav a {
    color: #ffa500;
    text-decoration: none;
  }
  
  button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #ffa500;
    cursor: pointer;
    padding: 10px 20px;
  }
  
  /* Home page styles */
  #sample-project {
    text-align: center;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }
  
  #sample-project img {
    max-width: 100%;
  }
  
  /* About Me page styles */
  #about-me {
    text-align: center;
    margin-top: 50px;
    background-color: rgba(12, 10, 10, 0.5);
    padding: 20px;
  }
  
  #about-me a {
    color: #ffa500;
    text-decoration: none;
  }
  